{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}
